body {
  margin: 2em;
  font-family: helvetica;
}

td, th {
  background-color: blue;
  margin: 1px;

  text-align: center;
  padding: .75em 0em;

}

td {
  font-size: 3em;
  font-weight: 800;
  color: #ffff4d;
}

th {
    font-size: 1.25em;
    font-weight: 500;
    color: #FFF;
}

table {
  width: 100%;
}

.dissapear {
  display: none;

}

section {
  background-color: blue;
  color: #FFF;
  font-size: 3em;
  padding: 3em;
  text-align: center;
  letter-spacing: .03em;
  font-family: "Cormorant Garamond";
}

.hidden {
  display: none;
}

.right {
  float: right;
}

form {
  margin-top: 1.5em;
}

p {
  margin-top: 1em;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.playerTwoBox {
  margin-left: 60%;
}
