/* html {
  background-image: url(https://www.hdwallback.net/wp-content/uploads/2017/12/Blue-abstract-background-stock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  margin: 1.5em 6em;
  font-family: helvetica;
}

header {
  background-image: url("https://vignette.wikia.nocookie.net/gameshows/images/d/dc/Jeopardy_logo_by_thewolfbunny-d5kozr0_-_Copy.png/revision/latest?cb=20130204192904");
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

td, th {
  background-color: blue;
  text-align: center;
  padding: .75em 0em;
  border: 2px solid black;
  border-radius: 4px;
}

td {
  font-size: 2.5em;
  font-weight: 800;
  color: #ffff4d;

}

th {
    font-size: 1.2em;
    font-weight: 500;
    color: #FFF;
}

table {
  background-color: #000;
  margin: auto;
  margin-top: 2em;
  padding: 3px;
  border-radius: 5px;
}

.dissapear {
  display: none;

}

section {
  background-color: blue;
  color: #FFF;
  font-size: 3em;
  padding: 3em;
  text-align: center;
  letter-spacing: .03em;
  font-family: "Cormorant Garamond";
  margin-top: .75em;
}

.hidden {
  display: none;
}

.boxClicked {
  background-color: blue;
}

.right {
  float: right;
}

form {
  margin-top: 1.5em;
}

p {
  margin-top: 1em;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.inputText1, .inputText2 {
  height: 4em;
  border: 8px solid #D3D3D3;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  height: 2em;
  background-color: #00B200;
  opacity: .8;
  color: #FFF;
  font-size: .8em;
}

.playerNameDiv {
  height: 10em;
  width: 100%;
  background-color: blue;
  text-align: center;
  margin-top: -.1em;
}

.playerScore {
  width: 100%;
  height: 3em;
  background-color: gray;
  margin-bottom: -1.5em;
  text-align: center;
}

#playerTwoName {
  font-family: "Namum Pen Script";
}

.scoreBox {
  border: 4px solid white;
  margin-top: 1.5em;
}

/* delete unneccessary classes and IDs
clean up this - as little code as possible; as easy to understand as possible */
