body {
  margin: 2em;
}

td, th {
  background-color: blue;
  margin: 1px;
  color: yellow;
  text-align: center;
  padding: 2.5em;
}

table {
  width: 100%;
}

.dissapear {
  opacity: 0;
}

section {
  background-color: blue;
  color: yellow;
  font-size: 3em;
  padding: 3em;
  text-align: center;
  letter-spacing: .05em;
}

.hidden {
  display: none;
}
