<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Jeopardy</title>
            <link rel="stylesheet" href="style.css">
            <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
            <script src="jquery.js" charset="utf-8"></script>
            <script src="jquery-3.3.1.min.js" charset="utf-8"></script>
            <script src="app.js" charset="utf-8"></script>
            <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
      </head>
  <body>
        <header>

        </header>
        <section class="dailydoublehidden"></section>
        <section class="hidden"></section>
        <table>
              <tr id="tableHead">
                    <th class="CategoryOne">Category</th>
                    <th class="CategoryTwo">Category</th>
                    <th class="CategoryThree">Category</th>
                    <th class="CategoryFour">Category</th>
                    <th class="CategoryFive">Category</th>
              </tr>
              <tr>
                    <td class="box columnone200">$100</td>
                    <td class="box columntwo200">$100</td>
                    <td class="box columnthree200">$100</td>
                    <td class="box columnfour200">$100</td>
                    <td class="box columnfive200">$100</td>
              </tr>
              <tr>
                    <td class="box columnone400">$200</td>
                    <td class="box columntwo400">$200</td>
                    <td class="box columnthree400">$200</td>
                    <td class="box columnfour400">$200</td>
                    <td class="box columnfive400">$200</td>
              </tr>
              <tr>
                    <td class="box columnone600">$300</td>
                    <td class="box columntwo600">$300</td>
                    <td class="box columnthree600">$300</td>
                    <td class="box columnfour600">$300</td>
                    <td class="box columnfive600">$300</td>
              </tr>
              <tr>
                    <td class="box columnone800">$400</td>
                    <td class="box columntwo800">$400</td>
                    <td class="box columnthree800">$400</td>
                    <td class="box columnfour800">$400</td>
                    <td class="box columnfive800">$400</td>
              </tr>
              <tr>
                    <td class="box columnone1000">$500</td>
                    <td class="box columntwo1000">$500</td>
                    <td class="box columnthree1000">$500</td>
                    <td class="box columnfour1000">$500</td>
                    <td class="box columnfive1000">$500</td>
              </tr>
        </table>

        <div class="flexbox">
              <div class="scoreBox">
                    <div class="playerScore"><h5 id="playerOneScore">000</h5></div>
                    <form id="userOneForm" action="index.html" method="post">
                          <input type="text" name="answer" class="inputText1" value="" autocomplete="off" disabled>
                          <input id="playerSubmit" class="submit" type="submit" name="submit" value="Submit" disabled>
                    </form>
                    <div class="playerNameDiv"><h4 id="playerOneName">Player 1</h4></div>
              </div>
              <button id="randomizeCats" type="button" name="button">Randomize Categories!</button> <br>
              <button id="changeName"type="button" name="button">Click To Set or Change Your Name</button>
              <button id="difficultyLevel"type="button" name="button">Set Computer Skill Level</button>
              <button id="timer"type="button" name="button">How Many Seconds Would You Like Per Question?</button>
              <div class="scoreBox">
                    <div class="playerScore"><h5 id="playerTwoScore">000</h5></div>
                    <form id="userTwoForm" action="index.html" method="post">
                          <input type="text" name="answer" class="inputText2" value="" autocomplete="off" disabled>
                          <input id="computerSubmit" class="submit" type="submit" name="submit" value="Submit" disabled>
                    </form>
                    <div class="playerNameDiv"><h4 id="playerTwoName">Computer</h4></div>
              </div>
        </div>
  </body>
</html>
