<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Jeopardy</title>
            <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
            <link rel="stylesheet" href="/style/style.css">
            <script src="/scripts/jquery-3.3.1.min.js" charset="utf-8"></script>
            <script src="/scripts/app.js" charset="utf-8"></script>
      </head>
  <body>
        <header>
         </header>
        <section class="hidden"></section>
        <div class="sidebar">
        <p class="instructions"><a href="#">Instructions</a><p>
        <p>1. Set your name (if you choose) </p>
        <button id="changeName"type="button" name="button" class="button">Click To Set or Change Your Name</button>
        <p>2. Click the button below to randomize the categories </p>
        <button id="randomizeCats" type="button" name="button" class="button">Randomize Categories!</button>
        <p>3. Click any question box you choose (categories are at the top) </p>
        <p>4. If you'd like to play against the computer, set it's difficulty level below. Otherwise, you can just play yourself.</p>
        <button id="difficultyLevel"type="button" name="button" class="button">Set Computer Skill Level</button>
        <p>5. Once the question shows up, you have FIVE seconds to answer the question </p>
        <p>6. Four possible answers will appear, click the one you think is correct </p>
        <p>7. If you are correct, that question's value is added to your current score </p>
        <p>8. If you are wrong, that question's value is deducted from your current score </p>
        <p>9. There is no penalty for not answering a question. </p>
        <p>1<span>0. </span> The first contestant to 1,000 points wins! </p>
         </div>
        <table>
              <tr id="tableHead">
                    <th class="CategoryOne">Category</th>
                    <th class="CategoryTwo">Category</th>
                    <th class="CategoryThree">Category</th>
                    <th class="CategoryFour">Category</th>
                    <th class="CategoryFive">Category</th>
              </tr>
              <tr>
                    <td class="box columnone200">$100</td>
                    <td class="box columntwo200">$100</td>
                    <td class="box columnthree200">$100</td>
                    <td class="box columnfour200">$100</td>
                    <td class="box columnfive200">$100</td>
              </tr>
              <tr>
                    <td class="box columnone400">$200</td>
                    <td class="box columntwo400">$200</td>
                    <td class="box columnthree400">$200</td>
                    <td class="box columnfour400">$200</td>
                    <td class="box columnfive400">$200</td>
              </tr>
              <tr>
                    <td class="box columnone600">$300</td>
                    <td class="box columntwo600">$300</td>
                    <td class="box columnthree600">$300</td>
                    <td class="box columnfour600">$300</td>
                    <td class="box columnfive600">$300</td>
              </tr>
              <tr>
                    <td class="box columnone800">$400</td>
                    <td class="box columntwo800">$400</td>
                    <td class="box columnthree800">$400</td>
                    <td class="box columnfour800">$400</td>
                    <td class="box columnfive800">$400</td>
              </tr>
              <tr>
                    <td class="box columnone1000">$500</td>
                    <td class="box columntwo1000">$500</td>
                    <td class="box columnthree1000">$500</td>
                    <td class="box columnfour1000">$500</td>
                    <td class="box columnfive1000">$500</td>
              </tr>
        </table>
         <article class="hidden">
          <div class="flexing">
            <aside class="multipleChoiceA mc"></aside>
            <aside class="multipleChoiceB mc"></aside>
          </div>
          <div class="flexing">
            <aside class="multipleChoiceC mc"></aside>
            <aside class="multipleChoiceD mc"></aside>
          </div>
        </article>
         <div class="flexbox">
              <div class="scoreBox">
                    <div class="playerScore"><h5 id="playerOneScore">000</h5></div>
                    <form id="userOneForm" action="index.html" method="post">
                          <input type="text" name="answer" class="inputText1" value="" autocomplete="off" disabled>
                          <input id="playerSubmit" class="submit" type="submit" name="submit" value="Submit" disabled>
                    </form>
                    <div class="playerNameDiv"><h4 id="playerOneName">Player 1</h4></div>
              </div>
              <div class="scoreBox">
                    <div class="playerScore"><h5 id="playerTwoScore">000</h5></div>
                    <form id="userTwoForm" action="index.html" method="post">
                          <input type="text" name="answer" class="inputText2" value="" autocomplete="off" disabled>
                          <input id="computerSubmit" class="submit" type="submit" name="submit" value="Submit" disabled>
                    </form>
                    <div class="playerNameDiv"><h4 id="playerTwoName">Computer</h4></div>
              </div>
        </div>
   </body>
</html>
